{{ form_start(recommendationForm) }}
                    {{ form_row(recommendationForm.name) }}
                    {{ form_row(recommendationForm.description) }}
<button type="submit" class="btn btn-primary" formnovalidate>{{ submitBtnText }}</button>
{{ form_end(recommendationForm) }}