{{ form_start(therapyForm) }}
    {{ form_row(therapyForm.name) }}
    {{ form_row(therapyForm.description) }}
<button type="submit" class="btn btn-primary" formnovalidate>{{ submitBtnText }}</button>
{{ form_end(therapyForm) }}